.consultation__second {

  margin-top: rem(80px);
  //padding: 24px 0 27px;
  color: #fff;
  height: rem(351px);
  //background: url("/build/img/consultation-second/bg.png") no-repeat top left/cover;
  &_title {
    @include h4Bold;
    margin-bottom: rem(10px);
  }
  &_img {
    height: rem(363px);
    transform: rotate(-0.14deg);
    margin-left: rem(-98px);
  }
}