.mounting {
  padding: rem(133px) 0 rem(50px);
  &__item {
    height: rem(164px);
    width: 100%;
    background: $main;
    position: relative;
    transition: all 0.3s ease;
    margin-bottom: rem(30px);
    img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      transition: all 0.3s ease;
      background: black;
    }
    &_description {
      position: absolute;
      top: rem(37px);
      left: rem(37px);
    }
    &_title {
      @include subtitleMedium;
      color: #ffffff;
      margin-bottom: rem(14px);
    }
  }
  &__btn {
    display: block;
    color: #ffffff;
    font-weight: bold;
    font-size: rem(16px);
    line-height: rem(22px);
    font-family: 'Noto Sans', sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    padding: rem(15px) rem(50px);
    background: $accent;
    border: 1px solid $accent;
    transition: all 0.3s ease;
    &:hover {
      background: #fff;
      color: $accent;
      transition: all 0.3s ease;
    }
  }
}
.screen__bg_right {
  background: url('../img/design/design-bg.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: calc(50% + 620px);
  padding: rem(80px) 0 rem(60px);
  &_title {
    @include h2Bold;
    color: $mainText;
    margin-bottom: rem(28px);
  }
  &_text {
    @include bodyRegular;
    color: $secondGray;
    margin-bottom: rem(15px);
  }
  &_right_img {
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;

  }
}
.design__list {
  margin-left: rem(16px);
  max-width: rem(836px);
  margin-bottom: rem(20px);
  &_title {
    @include subtitleMedium;
    color: $mainText;
    margin: rem(23px) 0 rem(8px);
  }
  &_item {
    position: relative;
    @include bodyRegular;
    color: $secondGray;
    margin-bottom: rem(5px);
    &:before {
      content: "";
      display: block;
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;
      background: $assetInterface;
      position: absolute;
      left: 0;
      top: rem(10px);
      transform: translate(rem(-16px), -25%);
    }
  }
}
