.main__screen_inner-projects {
  padding: rem(172px) 0 rem(229px)!important;
}
.projects__list {
  padding: rem(80px) 0;
  position: relative;
  &-gray {
    background: $border;
  }
  &_item {
    width: 100%;
    height: inherit;
    img {
      width: inherit;
      height: inherit;
    }
    &_title {
      @include subtitleMedium;
      color: $main;
      margin-bottom: rem(20px);
    }
    &_desc {
      @include bodyMedium;
      color: $secondGray;
      margin-bottom: 0;
    }
  }
}
.projects-wrap {
  margin-top: 40px;
  height: 178px!important;
  position: relative;
  width: 100%;
}
.swiper-container-projects, .swiper-container-projects1, .swiper-container-projects2, .swiper-container-projects3, .swiper-container-projects4 {
  overflow: hidden;
  width: 100%;
}
.swiper-slide-projects {

  img {
    margin: 0 auto;
    display: block;
  }
}
.swiper-button-prev-projects, .swiper-button-prev-projects1, .swiper-button-prev-projects2, .swiper-button-prev-projects3, .swiper-button-prev-projects4 {
  width: rem(24px);
  height: rem(26px);
  position: absolute;
  top: 50%;
  transform: translate(-100%, 50%);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
   .fa-angle-left {
     color: #8F8B8B;
     font-size: 30px;
     display: block;
     transition: all 0.3s ease;
     &:hover {
       color: #0C4898;
       transition: all 0.3s ease;
     }
  }
}
.swiper-button-next-projects, .swiper-button-next-projects1, .swiper-button-next-projects2, .swiper-button-next-projects3, .swiper-button-next-projects4 {
  width: rem(24px);
  height: rem(26px);
  position: absolute;
  top: 50%;
  transform: translate(100%, 50%);
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .fa-angle-right {
    color: #8F8B8B;
    font-size: 30px;
    display: block;
    transition: all 0.3s ease;
    &:hover {
      color: #0C4898;
      transition: all 0.3s ease;
    }
  }
}
.swiper-button-prev:after, .swiper-button-next:after {
  display: none;
}
.projects__nav_page {
  display: flex;
  justify-content: center;
  margin-top: rem(-30px);
  &_link {
    width: rem(29px);
    height: rem(29px);
    border-radius: 50%;
    background: #B6B6B6;
    opacity: 0.7;
    @include bodyMedium;
    color: $secondGray;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    transition: all .3s ease;
    &:active {
      background: rgba(41, 101, 180, 0.7);
      transition: all .3s ease;
    }
    &:focus {
      background: rgba(41, 101, 180, 0.7);
      transition: all .3s ease;
    }
    &:hover {
      background: rgba(41, 101, 180, 0.7);
      transition: all .3s ease;
    }
  }
}
.projects__nav_page_list {
  display: flex;
}