.proflist__offer {
  padding: rem(163px) 0 rem(161px);
  position: relative;
  background: url("../img/proflist/profmetall-bg.png") no-repeat center center/cover;
}
.proflist__second_screen {
  background: url('../img/proflist/image1.png');
  background-repeat: no-repeat;
  background-size: auto 393px;
  background-position: calc(50% + 530px);
  padding: rem(80px) 0 rem(95px);
  &_title {
    @include h2Bold;
    color: $mainText;
    margin-bottom: rem(28px);
  }
  &_text {
    @include bodyRegular;
    color: $secondGray;
    margin-bottom: rem(15px);
    max-width: 690px;
  }
}
.proflist__list {
  max-width: 690px;
  margin-left: rem(16px);
  margin-bottom: rem(20px);
  &_title {
    @include subtitleMedium;
    color: $mainText;
    margin: rem(23px) 0 rem(8px);
  }
  &_item {
    position: relative;
    @include bodyRegular;
    color: $secondGray;
    margin-bottom: rem(7px);
    &:before {
      content: "";
      display: block;
      width: rem(6px);
      height: rem(6px);
      border-radius: 50%;
      background: $assetInterface;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(rem(-16px), -25%);
    }
  }
}
.proflist__advantages {
  background: $border url("../img/proflist/image2.png");
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: left;
  padding: rem(80px) 0 rem(30px);
}
.proflist__components {
  padding: rem(72px) 0 rem(190px);
  background: url("../img/proflist/image3.png");
  background-repeat: no-repeat;
  background-size: auto 476px;
  background-position: calc(50% + 330px);
  &_title {
    @include h2Bold;
    color: $mainText;
    margin-bottom: rem(28px);
    margin-top: rem(59px);
  }
  &_list {
    margin-left: rem(16px);
    margin-bottom: rem(18px);

    &_item {
      position: relative;
      @include subtitleMedium;
      color: $secondGray;
      &:before {
        content: "";
        display: block;
        width: rem(6px);
        height: rem(6px);
        border-radius: 50%;
        background: $assetInterface;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(rem(-16px), -25%);
      }
    }
  }
  &_text {
    @include bodyRegular;
    color: $secondGray;
    margin-bottom: rem(13px);
  }
  &_img {
    width: 100%;
    height: rem(488px);
  }
}