$main : #2F343A;
$mainText : #101010;
$secondGray : #525252;
$accent : #2965B4;
$border : #F3F3F3;
$border2 : #F2F2F2;
$assetInterface : #2965B4;
$activeBlue : #0C4898;
$activeGray : #393939;
$footerItem : #61676D;
